networklink(xsi:schemalocation='http://www.opengis.net/kml/2.2 ogckml22.xsd')
  name Airphotos
  description displayable, printable, low-resolution airphotos, their photo centres, and their associated flight lines
  visibility 0
  open 1
  lookat
    longitude -125.790485103603
    latitude 54.53529082074053
    altitude 0
    heading -0.5347266315948855
    tilt 0
    range 1826047.023906531
    altitudemode relativeToGround
    gx:altitudemode relativeToSeaFloor
  link
    href http://openmaps.gov.bc.ca/kml/airphotos_by_year.kml
