doctype xml

kml(
  xmlns='http://www.opengis.net/kml/2.2'
  xmlns:gx='http://www.google.com/kml/ext/2.2'
  xmlns:kml='http://www.opengis.net/kml/2.2'
  xmlns:atom='http://www.w3.org/2005/Atom'
  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
  xsi:schemalocation='http://www.opengis.net/kml/2.2 ogckml22.xsd'
)

  Document
    name BC Government Geodetic Survey Viewer
    open 1
    LookAt
      longitude -125.790485103603
      latitude 54.53529082074053
      altitude 0
      heading -0.5347266315948855
      tilt 0
      range 1826047.023906531
      altitudeMode relativeToGround
      gx:altitudeMode relativeToSeaFloor
      include geodetic_control
  // include search_tools
  // include site_addresses
  // include intersection_addresses
  // include geographical_names
  // include airphotos
  // include orthophoto_viewer
  // include quick_base
  // include logo
