doctype xml

placemark
  name Disclaimer
  visibility 0
  snippet(maxlines='0')
    description
      :cdata
        <table cellpadding="0" cellspacing="0" border="0" width="400"><tr><td>
            <p>This service is provided for information purposes and is intended to assist the general public in gathering information prior to submitting a Crown Land use application. The accuracy of the information displayed, including specific references to data sources and other government web sources, has not been verified and is presented without warranty or liability. Without limitation this map may not disclose all Crown land in a particular area and this map does not constitute a representation that Crown land is suitable for any particular use or available for disposition.  Prior to making a land use decision based on the information provided by the FrontCounter BC Discovery Tool, consult a FrontCounter BC office to interpret and verify the land information.</p>
            </td></tr></table>
    styleurl #fcbcBalloonStyle
    point
      coordinates -115.7,50.3,0
