doctype xml

kml(
  xmlns='http://www.opengis.net/kml/2.2'
  xmlns:gx='http://www.google.com/kml/ext/2.2'
  xmlns:kml='http://www.opengis.net/kml/2.2'
  xmlns:atom='http://www.w3.org/2005/Atom'
  xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
  xsi:schemalocation='http://www.opengis.net/kml/2.2 ogckml22.xsd'
)
  document
    name FrontCounter BC Discovery Tool
    open 1
    styleurl #default
    lookat
      longitude -125.790485103603
      latitude 54.53529082074053
      altitude 0
      heading -0.5347266315948855
      tilt 0
      range 1826047.023906531
      altitudemode relativeToGround
      gx:altitudemode relativeToSeaFloor

    // include instructions
    // include legend
    // include land_interests
    // include land_act_tenures
    include land_ownership
    // include mines
    // include quick_base
    // include search_tools
    // include geographical_names
    // include site_addresses
    // include intersection_addresses
    // include frontcounter_locations
    // include logo
    // include disclaimer
