doctype xml

kml(xmlns='http://www.opengis.net/kml/2.2', xmlns:gx='http://www.google.com/kml/ext/2.2', xmlns:kml='http://www.opengis.net/kml/2.2', xmlns:atom='http://www.w3.org/2005/Atom', xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance', xsi:schemalocation='http://www.opengis.net/kml/2.2 ogckml22.xsd')
  document
    name FrontCounter BC Discovery Tool
    open 1
    lookat
      longitude -125.790485103603
      latitude 54.53529082074053
      altitude 0
      heading -0.5347266315948855
      tilt 0
      range 1826047.023906531
      altitudemode relativeToGround
      gx:altitudemode relativeToSeaFloor

    include styles
    include instructions
    include legend
    include land_interests
    include land_act_tenures
    include land_ownership
    include mines

    folder
      name quick base
      visibility 0
      description
        //              :cdatafeatures visible below 6 km<br> (eye altitude). grid visible at all altitudes.<p><br>
          base geographic features at 1:20 000 scale from the <b>base mapping and trim web map service</b> are combined into a single layer for optimal performance.</p>
      lookat
        longitude -125.9074743412715
        latitude 49.20865720098801
        altitude 0
        heading 0.7437758972756339
        tilt 0
        range 4990.232305186334
        altitudemode relativetoground
        gx:altitudemode relativetoseafloor
      style <liststyle> <listitemtype>radiofolder</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>2</maxsnippetlines> </liststyle>
      folder
        name current view - auto refresh
        visibility 0
        open 1
        description
          //                :cdatarefreshes current view for quicker response.<p>
            use one of these layers when you are looking for a particular feature or just roaming.
        lookat
          longitude -125.9074743412715
          latitude 49.20865720098801
          altitude 0
          heading 0.7437758972756339
          tilt 0
          range 4990.232305186334
          altitudemode relativetoground
          gx:altitudemode relativetoseafloor
        style <liststyle> <listitemtype>radiofolder</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>2</maxsnippetlines> </liststyle>
        groundoverlay
          name standard
          visibility 0
          snippet
            description
              //                    :cdata<font size="5"><b> elevation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&style=default'><br><p>
                
                <font size="5"><b> transportation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&style=default'><br><p>
                
                <font size="5"><b>water features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&style=default'><br><p>
                
                <font size="5"><b> grids</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&style=default'><br><p>
            lookat
              longitude -125.9074743412715
              latitude 49.20865720098801
              altitude 0
              heading 0.7437758972756339
              tilt 0
              range 4990.232305186334
              altitudemode relativetoground
              gx:altitudemode relativetoseafloor
            draworder 7
            icon
              href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&request=getmap&srs=epsg:4326&layers=nts_250k_grid,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno,bcgs_20k_grid&styles=&transparent=true&format=image/png&
              viewrefreshmode onstop
              viewrefreshtime 2
              viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
            latlonbox
              north 49.38868423328135
              south 49.33596272855676
              east -125.2891350319707
              west -125.3974694110289
        groundoverlay
          name with contours
          visibility 0
          snippet
            description
              //                    :cdata<font size="5"><b> elevation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_lines&format=image/png&style=default'><br><p>
                
                <font size="5"><b>transportation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&style=default'><br><p>
                
                <font size="5"><b> water features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&style=default'><br><p>
                
                <font size="5"><b> grids</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&style=default'><br><p>
            lookat
              longitude -125.9074743412715
              latitude 49.20865720098801
              altitude 0
              heading 0.7437758972756339
              tilt 0
              range 4990.232305186334
              altitudemode relativetoground
              gx:altitudemode relativetoseafloor
            draworder 7
            icon
              href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&request=getmap&srs=epsg:4326&layers=tctr_lines,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno,bcgs_20k_grid&styles=&transparent=true&format=image/png&
              viewrefreshmode onstop
              viewrefreshtime 2
              viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
            latlonbox
              north 49.22992789025414
              south 49.18736579416739
              east -125.8576357697014
              west -125.9572717152558
      folder
        name current view - manual refresh
        visibility 0
        description
          //                :cdatato refresh this layer, right click on the layer name and select refresh.<p>
            use this layer after you've found the particular feature or area you want to tilt at.<p>
        lookat
          longitude -125.9074743412715
          latitude 49.20865720098801
          altitude 0
          heading 0.7437758972756339
          tilt 0
          range 4990.232305186334
          altitudemode relativetoground
          gx:altitudemode relativetoseafloor
        style <liststyle> <listitemtype>radiofolder</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>2</maxsnippetlines> </liststyle>
        groundoverlay
          name standard
          visibility 0
          snippet
            description
              //                    :cdata<font size="5"><b> elevation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&style=default'><br><p>
                
                <font size="5"><b>transportation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&style=default'><br><p>
                
                <font size="5"><b>water features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&style=default'><br><p>
                
                <font size="5"><b> grids</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&style=default'><br><p>
            lookat
              longitude -125.9074743412715
              latitude 49.20865720098801
              altitude 0
              heading 0.7437758972756339
              tilt 0
              range 4990.232305186334
              altitudemode relativetoground
              gx:altitudemode relativetoseafloor
            draworder 7
            icon
              href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&request=getmap&srs=epsg:4326&layers=nts_250k_grid,bcgs_20k_grid,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno&styles=&transparent=true&format=image/png&
              viewrefreshmode onstop
              viewrefreshtime 7204
              viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
            latlonbox
              north 50.85118247703325
              south 50.82401258438863
              east -120.0426409574719
              west -120.100747619174
        groundoverlay
          name with contours
          visibility 0
          snippet
            description
              //                    :cdata<font size="5"><b> elevation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_lines&format=image/png&style=default'><br><p>
                
                <font size="5"><b> transportation features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&style=default'><br><p>
                
                <font size="5"><b> water features</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&style=default'><br><p>
                
                <font size="5"><b> grids</b></font><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&style=default'><br>
                <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&style=default'><br><p>
            lookat
              longitude -125.9074743412715
              latitude 49.20865720098801
              altitude 0
              heading 0.7437758972756339
              tilt 0
              range 4990.232305186334
              altitudemode relativetoground
              gx:altitudemode relativetoseafloor
            draworder 7
            icon
              href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&request=getmap&srs=epsg:4326&layers=nts_250k_grid,tctr_lines,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno,bcgs_20k_grid&styles=&transparent=true&format=image/png&
              viewrefreshmode onstop
              viewrefreshtime 7204
              viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
            latlonbox
              north 49.38718101150109
              south 49.35038956044557
              east -126.2361995726012
              west -126.2987276104751
    folder
      name search tools
      open 1
      visibility 0
      lookat
        longitude -125.1500003870194
        latitude 54.59
        altitude 0
        heading -3.170276909843649e-007
        tilt 0
        range 1795000
        altitudemode relativetoground
        gx:altitudemode relativetoseafloor
      folder
        name find a geographical name in bc
        visibility 0
        snippet(maxlines='0')
          description
            //                  :cdata<html>
                      
                        <head>
                          <meta http-equiv="content-type" content="text/xml">
                        </head>
                          
                        <body>
                         <form action="http://apps.gov.bc.ca/pub/bcgnws/names/official/soundlike?" target="soundlike search" method="get" id="soundlike search">
                  
                          <table border="0" cellspacing="0" cellpadding="0" name="table 2" width ="300">
                             <input type="hidden" name="startindex" value="0" id="startindex"></input>
                             <input type="hidden" name="itemsperpage" value="20" id="itemsperpage"></input>
                             <input type="hidden" name="maxresults" value="1000" id="maxresults"></input>
                             <input type="hidden" name="minscore" value="0.5" id="minscore"></input>
                             <input type="hidden" name="outputstyle" value="summary" id="outputformat"></input>
                             <input type="hidden" name="outputsrs" value="4326" id="outputsrs"></input>
                             <input type="hidden" name="asattachment" value="0" id="asattachment"></input>
                             <input type="hidden" name="embed" value="0" id="embed"></input>
                             <input type="hidden" name="featureclass" value="*" id="featureclass"></input>
                             <input type="hidden" name="featurecategory" value="*" id="featurecategory"></input>
                             <input type="hidden" name="outputformat" value="kml" id="outputformat"></input>
                             
                             <tr>
                               <td>
                                <input name="name" type="text" id="name" size="37" wrap="virtual"></textarea> 
                               </td>
                               <td>
                                <input type="submit" value="search"></input>
                               </td>
                             </tr>      
              
                          </table>
              
                         </form>   
                        </body>
                        
                   </html>
      folder
        name find an address
        visibility 0
        snippet(maxlines='1') uses the bc physical address geocoder
        description
          //                :cdata<html>
                  
                    <head></head>
                  
                    <body>
                          
                         <form action="http://apps.gov.bc.ca/pub/geocoder/addresses.kml" target="geocode" method="get" id="geocode" autocomplete="on">
                    
                             <table width="63%" border="0" cellpadding="4" cellspacing="0">
                                <tr>
                                  <td align="left" colspan="3">
                                    address:
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <input type="text" name="addressstring" id="addressstring" size="45"></input>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3">
                                    <b>examples:</b><br>
                       <i>525 superior street, victoria, bc</i><br>
                                       <i>301-780 blanshard st, victoria, bc</i><br>
                                       <i>johnson st and government st, victoria, bc</i><br>
                                  </td>
                                </tr>
                                <tr>
                                  <td>                	
                                    <b>preferences:</b>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3">
                                    setback (in metres): <input type="text" name="setback" id="setback" value="0"></input>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3">
                                    min score (0-100): <input type="text" name="minscore" id="minscore" value="0"></input>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3">
                                    max results: <input type="text" name="maxresults" id="maxresults" value="1"></input>
                                  </td>
                                </tr>
            
                  <tr>
                                  <td colspan="3">
                      point type: <select name="locationdescriptor">
                        <option value="any" selected>any</option>
                        <option value="accesspoint">access</option>
                        <option value="frontdoor">front door</option>
                        <option value="parcelpoint">parcel</option>
                        <option value="rooftoppoint">rooftop</option>
                        <option value="routingpoint">routing</option>
                      </select>
                    </td>
                  </tr>
            
                                <tr>
                                  <td colspan="3">
                                    interpolation: <input type="radio" name="interpolation" value="adaptive" checked="checked">adaptive </input>
                                                         <input type="radio" name="interpolation" value="linear">linear </input>
                                                         <input type="radio" name="interpolation" value="none">none </input>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="3">
                                    echo unmatched address details: <input type="radio" name="echo" value="true" checked="checked">yes </input>
                                    <input type="radio" name="echo" value="false">no</input>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <input type="hidden" name="outputsrs" id="outputsrs" value="4326"></input>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <input type="submit" value="geocode"></input>
                                  </td>
                                </tr>
                           </table>
            
                        </form>
            
                   </body>
                  
                  </html>
                  
                  
      folder
        name address point legend
        open 0
        visibility 0
        snippet(maxlines='0')
          description
            //                  :cdata
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_high.png" height=36 width=36> access point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_medium.png" height="36" width="36"> access point - medium accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_low.png" height="36" width="36"> access point - low accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/frontdoorpoint_high.png" height="36" width="36"> front door point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height="36" width="36"> intersection point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/localitypoint_coarse.png" height="36" width="36"> locality point - coarse accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_high.png" height="36" width="36"> parcel point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_medium.png" height="36" width="36"> parcel point - medium accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/provincepoint_coarse.png" height="36" width="36"> province point - coarse accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/rooftoppoint_high.png" height="36" width="36"> rooftop point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_high.png" height="36" width="36"> routing point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_medium.png" height="36" width="36"> routing point - medium accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_low.png" height="36" width="36"> routing point - low accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/streetpoint_coarse.png" height="36" width="36"> street point - coarse accuracy<br>
                          
              <br> <i><b>positional accuracy terms </i></b><br>
              <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
              <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
              <i><b>low - </i></b>interpolated along a block face address range<br>
              <i><b>coarse - </i></b>point represents an entire street, locality, or the province<br>
              <br> credit for frontdoor, intersection and routing icons:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
              
                      
          lookat
            longitude -124.7059782963682
            latitude 54.26540375568923
            altitude 0
            heading -2.958270830482301
            tilt 0
            range 1855986.973080759
            altitudemode relativetoground
            gx:altitudemode relativetoseafloor
    networklink
      name geographical names
      visibility 0
      description official geographical names from the bc geographical names information system
      lookat
        longitude -124.478119020778
        latitude 52.82030658064183
        altitude 0
        heading 0.925602876244341
        tilt 0
        range 1485899.677234376
        altitudemode relativetoground
      link
      href http://apps.gov.bc.ca/pub/bcgnws/names/official/inside?itemsperpage=50&sortby=name&
      viewrefreshmode onstop
      viewrefreshtime 1
      viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]
      httpquery &outputformat=kml&outputstyle=summary
    folder
      name site addresses
      open 0
      snippet(maxlines='1') uses the bc physical address geocoder
      description
        //              :cdata
                  civic and non-civic addresses of 
           
          
           <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#site">sites</a> in bc
                  <br><br>every site has an 
           
          
           <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#accesspoint">access point</a>, 
                  and a 
           
          
           <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#routingpoint">routing point</a> and may also have a         
                        
           
          
           <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#parcelpoint">parcel point</a>,
                  
           
          
           <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#rooftoppoint"> roof top point</a>, or
                  
           
          
           <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#frontdoorpoint"> front door point</a>
                  <br><br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_high.png" height=36 width=36> access point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_medium.png" height="36" width="36"> access point - medium accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_low.png" height="36" width="36"> access point - low accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/frontdoorpoint_high.png" height="36" width="36"> front door point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_high.png" height="36" width="36"> parcel point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_medium.png" height="36" width="36"> parcel point - medium accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/rooftoppoint_high.png" height="36" width="36"> rooftop point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_high.png" height="36" width="36"> routing point - high accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_medium.png" height="36" width="36"> routing point - medium accuracy<br>
                  <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_low.png" height="36" width="36"> routing point - low accuracy<br>
                      
          <br> <i><b>positional accuracy terms </i></b><br>
          <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
          <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
          <i><b>low - </i></b>interpolated along a block face address range<br>
          <i><b>coarse - </i></b>point represents an entire street, locality, or the province<br>
          <br> credit for frontdoor, intersection and routing icons:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
          
          
          
          
                  
      style <liststyle> <listitemtype>radiofolder</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>2</maxsnippetlines> </liststyle>
      networklink
        name any points
        open 0
        visibility 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>display 
                  
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#parcelpoint">parcel points</a>,
                  
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#rooftoppoint"> roof top points</a>, or
                  
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#frontdoorpoint"> front door points</a> of site addresses if known, otherwise display 
                  
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#accesspoint">access points</a>
                        
            <br><br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_high.png" height=36 width=36> access point - high accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_medium.png" height="36" width="36"> access point - medium accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_low.png" height="36" width="36"> access point - low accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/frontdoorpoint_high.png" height="36" width="36"> front door point - high accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_high.png" height="36" width="36"> parcel point - high accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_medium.png" height="36" width="36"> parcel point - medium accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/rooftoppoint_high.png" height="36" width="36"> rooftop point - high accuracy<br>
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
            <i><b>low - </i></b>interpolated along a block face address range<br>
            <br> credit for frontdoor icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/sites/within.kml?
        viewrefreshmode onstop
        viewrefreshtime 1
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
      networklink
        name access points
        visibility 0
        open 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#accesspoint">access points</a> of site addresses
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_high.png" height=36 width=36> access point - high accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_medium.png" height="36" width="36"> access point - medium accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_low.png" height="36" width="36"> access point - low accuracy<br>
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
            <i><b>low - </i></b>interpolated along a block face address range<br>
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/sites/within.kml?locationdescriptor=accesspoint&
        viewrefreshmode onstop
        viewrefreshtime 1
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
      networklink
        name routing points
        visibility 0
        open 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#routingpoint">routing points</a> of site addresses
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_high.png" height=36 width=36> routing point - high accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_medium.png" height="36" width="36"> routing point - medium accuracy<br>
                <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_low.png" height="36" width="36"> routing point - low accuracy<br>
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
            <i><b>low - </i></b>interpolated along a block face address range<br>
            <br> credit for routing icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/sites/within.kml?locationdescriptor=routingpoint&
        viewrefreshmode onstop
        viewrefreshtime 1
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
    folder
      name intersection addresses
      open 0
      snippet(maxlines='1') uses the bc physical address geocoder
      description
        //              :cdata
                  addresses of 
           
          
           <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> in bc (e.g., douglas st and yates st, victoria, bc)
                  <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
                  <br> <i><b>positional accuracy terms </i></b><br>
                  <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
                  <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                  
      style <liststyle> <listitemtype>radiofolder</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>2</maxsnippetlines> </liststyle>
      networklink
        name all except dead-ends
        visibility 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to more than one road segment
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
            
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=2
        viewrefreshmode onstop
        viewrefreshtime 2
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
      networklink
        name dead-ends
        visibility 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to one road segment
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
            
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=1&maxdegree=1
        viewrefreshmode onstop
        viewrefreshtime 2
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
      networklink
        name two-way
        visibility 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to two road segments
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
            
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=2&maxdegree=2
        viewrefreshmode onstop
        viewrefreshtime 2
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
      networklink
        name three-way
        visibility 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to three road segments
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
            
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=3&maxdegree=3
        viewrefreshmode onstop
        viewrefreshtime 2
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
      networklink
        name four-way
        visibility 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to four road segments
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
            
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=4&maxdegree=4
        viewrefreshmode onstop
        viewrefreshtime 2
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]
      networklink
        name five-way and higher
        visibility 0
        description
          //                :cdatavisible below 500m eye altitude <br><br>
                  display 
             
            
             <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to five or more road segments
                        
            <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
            
                        
            <br> <i><b>positional accuracy terms </i></b><br>
            <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
            <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
                 
                  
        style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
        link
        href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=5
        viewrefreshmode onstop
        viewrefreshtime 2
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]

    include frontcounter_locations
    include logo
    include disclaimer
