networklink
  name Geographical Names
  visibility 0
  description official geographical names from the bc geographical names information system
  lookat
    longitude -124.478119020778
    latitude 52.82030658064183
    altitude 0
    heading 0.925602876244341
    tilt 0
    range 1485899.677234376
    altitudemode relativetoground
  link
    href http://apps.gov.bc.ca/pub/bcgnws/names/official/inside?itemsperpage=50&amp;sortby=name&amp;
  viewrefreshmode onstop
  viewrefreshtime 1
  viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]
  httpquery &amp;outputformat=kml&amp;outputstyle=summary
