Style#instructionsStyle
  IconStyle
    Icon
      href http://openmaps.gov.bc.ca/kml/Icons/legend.png
  BalloonStyle
    text
      :cdata
        <center><b><font color="#000033" size="+3">Instructions</font></b></center> <br/><hr/><br/> <font face="Arial">$[description]</font>

ScreenOverlay
  name Instructions
  visibility 0
  Snippet(maxlines='4')
    :cdata
      To print these instructions, click the Instructions layer name in blue above then use File.Print<br/><font color="#000033" size="-1"> Last Updated 2014/05/22 </font>
  description
    :cdata
      To use the FrontCounter BC Discovery Tool, you need to be familiar with Google Earth and its 
       
      
       <A HREF="http://www.google.com/earth/learn/">tutorials</a>, particularly the 
       
      
       <A HREF="http://www.google.com/earth/learn/beginner.html#tab=navigation">navigation tutorial</a>.
          
          <p>The FrontCounter BC Discovery Tool is designed to help you view an area of land within the Province of British Columbia to determine basic information on how the land is currently being used. The information can be used to assist you in choosing an appropriate application area for your needs.</p>
          
      <p>For example, privately held lands, Provincial Parks, National Parks or First Nations Reserves are some of the highly constrained lands in their potential for Crown authorizations and will require you to contact 
       
      
       <A HREF="http://www.frontcounterbc.gov.bc.ca/contact">FrontCounter BC</a> to determine whether your proposed activity is permissible. Avoiding highly constrained lands when seeking potential candidate areas for your proposed application may improve your likelihood of success.</p>
      
      <p>You can use this tool in a variety of ways:</p>
      1. To discover general land use: a colour legend will appear when you click on each layer name;<br/>
      2. To create your Area of Interest (as a placemark, path or polygon) in the correct location you are interested in;<br/>
      3. To look at your Area of Interest in relation to other land interests to see if it is available and compatible, and;<br/>
      4. To create an electronic file of your Area of Interest that can be submitted with your electronic application.<br/>
      
      <p>The basic steps to create a geomark from an Area of Interest are:</p>
      <b>Step 1:</b> Use Google Earth's navigation controls to zoom to the area you are interested in.<br/><br/>
      <b>Step 2:</b> Use Google Earth's <i>Add Placemark, Add Polygon or Add Path</i> tool to draw your Area of Interest on the map.<br/><br/>
      <b>Step 3:</b> Click on the Create Geomark layer and follow the instructions to create a Geomark from your Area of Interest. Your new geomark will be displayed as a hyperlink (URL).<br/><br/>
      <b>Step 4:</b> Save your geomark URL as a bookmark in your web browser.<br/><br/>
      
      You can use your geomark in a couple of different ways:<br/><br/>
      1.	You can email it to 
       
      
       <A HREF="mailto:FrontCounterBC@gov.bc.ca">FrontCounterBC@gov.bc.ca</a> with an explanation of your land use requirements prior to submission of your application to ensure that other interests do not exist that may conflict with your application.<br/><br/>
      
      2.	You can submit it with an electronic application through 
       
      
       <A HREF="http://www.frontcounterbc.gov.bc.ca/virtual/">virtual FrontCounter BC</a>
      
      
      <p>See the 
       
      
       <A HREF="http://www.frontcounterbc.gov.bc.ca/mapping/tutorial/tutorial_01.html">tutorial</a> for more detailed instructions.</p>
      
      <p><b>DISCLAIMER:  This tool does not show all interests, you should contact 
       
      
       <A HREF="http://www.frontcounterbc.gov.bc.ca/contact">FrontCounter BC</a> to see if other interests exist that may conflict with your application before submitting it.  Your saved geomark can be emailed to 
       
      
       <A HREF="mailto:FrontCounterBC@gov.bc.ca">FrontCounterBC@gov.bc.ca</a> prior to submission for this purpose.</b></p>
      
      
  StyleUrl #instructionsStyle
  gx:balloonvisibility 1
  drawOrder 99
  overlayXY(x='0', y='1', xunits='fraction', yunits='fraction')
    screenXY(x='5', y='5', xunits='pixels', yunits='insetPixels')
      rotationXY(x='0.5', y='0.5', xunits='fraction', yunits='fraction')
        size(x='-1', y='-1', xunits='pixels', yunits='pixels')
