Folder
  name Intersection Addresses
  open 0
  Snippet(maxlines='1') uses the bc physical address geocoder
  description
    :cdata
      addresses of 
       
      <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> in bc (e.g., douglas st and yates st, victoria, bc)
      <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
      <br> <i><b>positional accuracy terms </i></b><br>
      <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
      <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
              
  Style <ListStyle> <listItemType>radiofolder</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>2</maxSnippetLines> </listStyle>
  NetworkLink
    name All Except Dead-Ends
    visibility 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to more than one road segment
                    
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
        
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
              
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>1</maxSnippetLines> </listStyle>
    Link
      href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=2
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  NetworkLink
    name Dead-Ends
    visibility 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to one road segment
                    
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
                    
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
             
              
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>1</maxSnippetLines> </listStyle>
    Link
      href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=1&amp;maxdegree=1
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  NetworkLink
    name Two-Way
    visibility 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to two road segments
                    
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
                    
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
              
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>1</maxSnippetLines> </listStyle>
    Link
      href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=2&amp;maxdegree=2
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  NetworkLink
    name Three-Way
    visibility 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to three road segments
                    
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
                    
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
             
              
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>1</maxSnippetLines> </listStyle>
    Link
      href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=3&amp;maxdegree=3
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  NetworkLink
    name Four-Way
    visibility 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to four road segments
                    
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
                    
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
             
              
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>1</maxSnippetLines> </listStyle>
    Link
      href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=4&amp;maxdegree=4
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  NetworkLink
    name Five-Way and Higher
    visibility 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#intersection">intersections</a> connected to five or more road segments
                    
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/intersectionpoint_high.png" height=36 width=36> intersection point - high accuracy<br>
        
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <br> credit for intersection icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
             
              
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>1</maxSnippetLines> </listStyle>
    Link
      href http://apps.gov.bc.ca/pub/geocoder/intersections/within.kml?mindegree=5
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
