style#legend_protected_areas
  ListStyle
    ItemIcon
      href http://openmaps.gov.bc.ca/kml/Icons/legend_protected_areas.png

style#legend_indian_reserves
  ListStyle
    ItemIcon
      href http://openmaps.gov.bc.ca/kml/Icons/legend_indian_reserves.png

style#legend_prov_parks
  ListStyle
    ItemIcon
      href http://openmaps.gov.bc.ca/kml/Icons/legend_prov_parks.png

style#legend_rec_areas
  ListStyle
    ItemIcon
      href http://openmaps.gov.bc.ca/kml/Icons/legend_rec_areas.png

style#legend_eco_reserves
  ListStyle
    ItemIcon
      href http://openmaps.gov.bc.ca/kml/Icons/legend_eco_reserves.png

folder
  name Land interests
  open 1
  groundoverlay
    name Indian Reserves
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=CLAB_INDIAN_RESERVES_C&format=image/png"><br><br>
                                    <P>For more information click 
         <A HREF="http://catalogue.data.gov.bc.ca/dataset/8efe9193-80d2-4fdf-a18c-d531a94196ad">here</A></BR>
    lookat
      longitude -122.3407446429645
      latitude 51.78026000156275
      altitude 0
      heading -5.028838681109901
      tilt 0
      range 175203.7784054478
    styleurl #legend_indian_reserves
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=CLAB_INDIAN_RESERVES_C&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 2
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name Indian Reserves - ColourGeoserver
    description
      :cdata
        <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_ADMIN_BOUNDARIES.CLAB_INDIAN_RESERVES&style=Indian_Reserves_Colour_Filled&format=image%2Fpng&width=20&height=20'><br>
            <P>For more infomation
            <A HREF='http://catalogue.data.gov.bc.ca/dataset/8efe9193-80d2-4fdf-a18c-d531a94196ad'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=WHSE_ADMIN_BOUNDARIES.CLAB_INDIAN_RESERVES&amp;STYLES=Indian_Reserves_Colour_Filled&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60.23190697563938
      south 46.64549956999812
      east -103.6731450696872
      west -144.5798910123641
  groundoverlay
    name National Parks
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=CLAB_NATIONAL_PARKS_C&format=image/png"><br><br>
            For more information click 
         
        
         <A HREF="http://catalogue.data.gov.bc.ca/dataset/88e61a14-19a0-46ab-bdae-f68401d3d0fb">here</A></P>
    lookat
      longitude -124.9089567690733
      latitude 54.53501315545629
      altitude 0
      heading -7.011245191654538
      tilt 0
      range 1190040.072978311
    styleurl #legend_national_parks
    draworder 2
    | /india
    icon
      href http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=CLAB_NATIONAL_PARKS_C&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 2
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name National Parks - Colour Geoserver
    visibility 0
    description
      :cdata
        <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=pub:WHSE_ADMIN_BOUNDARIES.CLAB_NATIONAL_PARKS&style=NationalParks&format=image/png'><br>
        <P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/88e61a14-19a0-46ab-bdae-f68401d3d0fb'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=pub:WHSE_ADMIN_BOUNDARIES.CLAB_NATIONAL_PARKS&amp;STYLES=NationalParks&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110
  groundoverlay
    name Provincial Parks
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_C&format=image/png"><br><br>
        For more information  <A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A></P>
    lookat
      longitude -115.743353164902
      latitude 49.50998821115897
      altitude 0
      heading 0.01927763846471821
      tilt 0
      range 840.9868857461036
    styleurl #legend_prov_parks
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=TA_PARK_ECORES_PA_C&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 3
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name Provincial Parks - Tantalis -Geoserver
    visibility 0
    description
      :cdata
        <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Provincial_Parks_Tantalis_Colour_Filled&format=image/png'><br>
            <P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/bc-parks-ecological-reserves-and-protected-areas'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&amp;STYLES=Provincial_Parks_Tantalis_Colour_Filled&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110
  groundoverlay
    name Ecological Reserves
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_ECO_C&format=image/png"><br><br>
        For more information 
         <A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A>
    lookat
      longitude -123.2801551138936
      latitude 48.45870318920701
      altitude 0
      heading 1.111636832364537
      tilt 0
      range 18302.8857930372
      altitudemode relativeToGround
    styleurl #legend_eco_reserves
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=TA_PARK_ECORES_PA_ECO_C&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 3
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name Ecological Reserves - Tantalis - Geoserver
    visibility 0
    description
    :cdata
      <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Ecological_Reserves_Tantalis_Colour_Filled&format=image/png'><br>
            <P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/bc-parks-ecological-reserves-and-protected-areas'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&amp;STYLES=Ecological_Reserves_Tantalis_Colour_Filled&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110
  groundoverlay
    name Protected Areas
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_PROTECTED_C&format=image/png"><br><br>
        For more information 
         
        
         <A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A></P>
    lookat
      longitude -115.743353164902
      latitude 49.50998821115897
      altitude 0
      heading 0.01927763846471821
      tilt 0
      range 840.9868857461036
    styleurl #legend_protected_areas
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=TA_PARK_ECORES_PA_PROTECTED_C&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 3
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name Protected Areas - Tantalis - Colour Geoserver
    visibility 0
    description
    :cdata
      <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Protected_Areas_Tantalis_Colour_Filled&format=image/png'><br>
            <P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&amp;STYLES=Protected_Areas_Tantalis_Colour_Filled&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110
  groundoverlay
    name Conservancy Areas
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_CONSERVANCY_AREAS_C&format=image/png"><br><br>
        For more information 
        
         <A HREF="http://catalogue.data.gov.bc.ca/dataset/550b3133-2004-468f-ba1f-b95d0e281e78">click here</A></P>
    lookat
      longitude -115.743353164902
      latitude 49.50998821115897
      altitude 0
      heading 0.01927763846471821
      tilt 0
      range 840.9868857461036
    styleurl #legend_cons_areas
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=TA_CONSERVANCY_AREAS_C&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 2
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name Conservancy Areas - Tantalis - Geoserver
    visibility 0
    description
    :cdata
      <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_CONSERVANCY_AREAS_SVW&style=Conservancy_Areas_Tantalis_Colour_Filled&format=image/png'><br>
            <P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/tantalis-conservancy-areas'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=WHSE_TANTALIS.TA_CONSERVANCY_AREAS_SVW&amp;STYLES=Conservancy_Areas_Tantalis_Colour_Filled&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110
  groundoverlay
    name Recreation Areas
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_RECREATION_C&format=image/png"><br><br>
        For more information
         <A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A></P>
    lookat
      longitude -120.7541207199092
      latitude 49.36663633212387
      altitude 0
      heading 8.884351497901607
      tilt 0.6844812415854688
      range 53164.3652662764
      altitudemode relativeToGround
    styleurl #legend_rec_areas
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=TA_PARK_ECORES_PA_RECREATION_C&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 5
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name Recreation Areas - Tantalis - Geoserver
    visibility 0
    description
    :cdata
      <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Recreation_Areas_Tantalis_Colour_Filled&format=image/png'><br>
            <P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/bc-parks-ecological-reserves-and-protected-areas'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&amp;STYLES=Recreation_Areas_Tantalis_Colour_Filled&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110
  groundoverlay
    name Conservation Lands
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=CNSRVTN_LNDS&format=image/png"><br>
        For more information 
         <A HREF="http://catalogue.data.gov.bc.ca/dataset/68327529-c0d5-4fcb-b84e-f8d98a7f8612">click here</A></P>
    lookat
      longitude -122.7200650286509
      latitude 49.20060352851539
      altitude 0
      heading 0.1216022086330478
      tilt 0
      range 150765.8519796508
      altitudemode relativeToGround
    styleurl #legend_wild_areas
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=CNSRVTN_LNDS&amp;STYLES=&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewrefreshtime 5
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  groundoverlay
    name Conservation Lands - Geoserver
    visibility 0
    description
    :cdata
      <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_LEGAL_ADMIN_BOUNDARIES.WCL_CONSERVATION_LANDS_SP&style=Conservation_Lands&format=image/png'><br>
      <P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/68327529-c0d5-4fcb-b84e-f8d98a7f8612'>click here</A></P>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;VERSION=1.1.1&amp;REQUEST=GetMap&amp;SRS=EPSG:4326&amp;LAYERS=WHSE_LEGAL_ADMIN_BOUNDARIES.WCL_CONSERVATION_LANDS_SP&amp;STYLES=Conservation_Lands_Type&amp;TRANSPARENT=TRUE&amp;FORMAT=image/png&amp;
      viewrefreshmode onStop
      viewformat BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]]&amp;WIDTH=[horizPixels]]&amp;HEIGHT=[vertPixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110

