Style#legend_land_own_group
  ListStyle
    ItemIcon
      href http://openmaps.gov.bc.ca/kml/Icons/legend_land_own_group.png
Style#legend_priv_ownership
  ListStyle
    ItemIcon
      href http://openmaps.gov.bc.ca/kml/Icons/legend_priv_ownership.png

Style#noDirections
  BalloonStyle
    text
      :cdata
        $[description]

Folder
  name Land Ownership - Integrated Cadastral Fabric
  open 1
  description
    :cdata
    
      <p><img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_private&format=image/png"></p>

      <p><img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_crown&format=image/png"></p>
      
      <p><img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_crown_prov&format=image/png"></p>

      <p><img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_crown_muni&format=image/png"></p>

      <p><img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_crown_fed&format=image/png"></p>

    
    
      <p>land ownership is sourced from the integrated cadastral fabric which is produced by the parcel fabric section of geobc on behalf of icis. the land ownership layer includes many jurisdictions that are maintained on a bi-weekly basis by geobc to published attribute and currency standards. in other jurisdictions where the data is not actively maintained by geobc, the icf includes local government parcel shapes with standardized provincial attribution. an attribute on the fabric distinguishes between parcels that have been maintained by geobc and parcels that have been integrated from other icis members</p>
    
      <p>for more information 
     
    
      <a href="http://catalogue.data.gov.bc.ca/dataset/7eb82072-8c74-4fce-9934-349b545fdc21">click here</a></p>
  StyleUrl #legend_land_own_group
  GroundOverlay
    name Private Ownership
    Snippet(maxlines='1') visible below an eye altitude of 15km within bc
    description
      :cdata
        <p><img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_private&format=image/png"></p> <p>for more information 
         
        
         <a href="http://catalogue.data.gov.bc.ca/dataset/7eb82072-8c74-4fce-9934-349b545fdc21">click here</a></p>
    LookAt
      longitude -115.743353164902
      latitude 49.50998821115897
      altitude 0
      heading 0.01927763846471821
      tilt 0
      range 840.9868857461036
    StyleUrl #legend_priv_ownership
    drawOrder 2
    Icon
      href http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=cbm_cadastral_fabric_pub_private&amp;Styles=&amp;transparent=true&amp;format=image/png&amp;
      viewRefreshMode onstop
      viewRefreshTime 2
      viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
    LatLonBox
      north 62.24803399817494
      south 44.74846842243939
      east -101.3348746903971
      west -150.3835582055927
  GroundOverlay
    name Integrated Cadastral Fabric - Private Ownership-Geoserver
    visibility 0
    description
      :cdata
        <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=getlegendgraphic&layer=whse_cadastre.cbm_cadastral_fabric_pub_svw&Style=integrated_cadastral_fabric_private_ownership&format=image/png'><br>
        <p>for more infomation <a href='http://catalogue.data.gov.bc.ca/dataset/cbm-integrated-cadastral-fabric-public-view'>click here</a></p>
    LookAt
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    color b0ffffff
    drawOrder 2
    Icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=whse_cadastre.cbm_cadastral_fabric_pub_svw&amp;Styles=integrated_cadastral_fabric_private_ownership&amp;transparent=true&amp;format=image/png&amp;
      viewRefreshMode onstop
      viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
    LatLonBox
      north 60
      south 48
      east -135
      west -110
  NetworkLink
    name Private Ownership Details
    Snippet(maxlines='2') visible below an eye altitude of 2km within bc
    visibility 0
    description
      :cdata
        <p><img src='http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_private_fi&format=image/png&Style=default'></p><p>for more information 
         
        
         <a href="http://catalogue.data.gov.bc.ca/dataset/7eb82072-8c74-4fce-9934-349b545fdc21">click here</a></p>
    StyleUrl #nodirections
    LookAt
      longitude -122.4752757149426
      latitude 49.14591650750629
      altitude 0
      heading -5.123249381465726
      tilt 2.884301276088741
      range 28958.99118572512
      altitudeMode relativetoground
      gx:altitudeMode relativetoseafloor
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>2</maxSnippetLines> </listStyle>
    Link
      href http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&amp;version=1.1.1&amp;request=getfeatureinfo&amp;srs=epsg:4326&amp;layers=cbm_cadastral_fabric_pub_private_fi&amp;Styles=default&amp;format=png&amp;transparent=true&amp;query_layers=cbm_cadastral_fabric_pub_private_fi&amp;info_format=kayml&amp;feature_count=500&amp;radius=bbox&amp;
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  GroundOverlay
    name Crown Ownership
    visibility 1
    Snippet(maxlines='4') visible below an eye altitude of 15km within bc this layer indicates land already in use by the municipal, provincial or federal government
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_crown&format=image/png"><br><br><p>for more information 
         
        
         <a href="http://catalogue.data.gov.bc.ca/dataset/7eb82072-8c74-4fce-9934-349b545fdc21">click here</a></p>
    StyleUrl #nodirections
    LookAt
      longitude -115.743353164902
      latitude 49.50998821115897
      altitude 0
      heading 0.01927763846471821
      tilt 0
      range 840.9868857461036
    drawOrder 2
    Icon
      href http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=cbm_cadastral_fabric_pub_crown&amp;Styles=&amp;transparent=true&amp;format=image/png&amp;
      viewRefreshMode onstop
      viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
    LatLonBox
      north 48.42376171239884
      south 48.42121668734681
      east -123.3794868783632
      west -123.3841629931961
  NetworkLink
    name Crown Ownership Details
    visibility 0
    Snippet(maxlines='2') Visible below an eye altitude of 2km within bc
    description
      :cdata
        <img src='http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_crown_fi&format=image/png&Style=default'><p>for more information 
        
        <a href="http://catalogue.data.gov.bc.ca/dataset/7eb82072-8c74-4fce-9934-349b545fdc21">click here</a></p>
    StyleUrl #nodirections
    LookAt
      longitude -122.4752757149426
      latitude 49.14591650750629
      altitude 0
      heading -5.123249381465726
      tilt 2.884301276088741
      range 28958.99118572512
      gx:altitudeMode relativetoseafloor
    Style <ListStyle> <listItemType>check</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>2</maxSnippetLines> </listStyle>
    Link
      href http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&amp;version=1.1.1&amp;request=getfeatureinfo&amp;srs=epsg:4326&amp;layers=cbm_cadastral_fabric_pub_crown_fi&amp;Styles=default&amp;format=png&amp;transparent=true&amp;query_layers=cbm_cadastral_fabric_pub_crown_fi&amp;info_format=kayml&amp;feature_count=500&amp;radius=bbox&amp;
    viewRefreshMode onstop
    viewRefreshTime 2
    viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  GroundOverlay
    name Integrated Cadastral Fabric - outlined
    visibility 0
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=cbm_cadastral_fabric_pub_o&format=image/png"><br>
        <p>for more information 
         
        
        <a href="http://catalogue.data.gov.bc.ca/dataset/7eb82072-8c74-4fce-9934-349b545fdc21">click here</a></p><br/>
    drawOrder 2
    Icon
      href http://openmaps.gov.bc.ca/mapserver/land-ownership-and-status?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=cbm_cadastral_fabric_pub_o&amp;Styles=&amp;transparent=true&amp;format=image/png&amp;
      viewRefreshMode onstop
      viewRefreshTime 1
      viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
    LatLonBox
      north 65.10309480458069
      south 40.51673581404715
      east -84.45041760383955
      west -158.3395525569848
