style#fcbcHelpBalloonStyle
  IconStyle
    color 00ffffff
    scale 0.8
    Icon
      href http://maps.google.com/mapfiles/kml/shapes/info.png
  LabelStyle
    color 00ffffff
    scale 0.8
  BalloonStyle
    text
      :cdata
         <b><font color="#000033" size="+3">Getting Help for the<br>FrontCounter BC Discovery Tool</font></b> <br/><hr/><br/><br/> <font face="Arial">$[description]</font> <br/><br/><hr/><br/> <center><font color="#cccccc" size="-1"></font></center>

folder
  name Legend
  visibility 0
  snippet(maxlines='4') Each layer has its own legend which will be displayed when you click on the blue, underlined layer name. To print a legend once it is displayed, use File.Print
  description Each layer has its own legend which will be displayed when you click on the blue underlined layer name. To print a legend once it is displayed, use File.Print
placemark
  name Help
  visibility 0
  snippet(maxlines='1') -
  description
    :cdata
      <table cellpadding="0" cellspacing="0" border="0" width="400"><tr><td>
          <p>If you have questions about the FrontCounter BC Discovery Tool, you can find the answers or get help using one of the following:</p>
          
          <ol>
          <li>Call Toll Free 1-877-855-3222 to speak to a FrontCounter BC representative.  You can also send your question in an email to frontcounterbc@gov.bc.ca.</li>
          <li>Review the 
       
      
       <A HREF="http://www.frontcounterbc.gov.bc.ca/mapping/faq.html">Frequently Asked Questions</a>.</li>
          <li>Review the 
       
      
       <A HREF="http://www.frontcounterbc.gov.bc.ca/mapping/tutorial/tutorial_01.html">tutorial</a> for information about how to use the tool.</li>
          </td></tr></table>
  styleurl #fcbcHelpBalloonStyle
  point
    coordinates -115.7,50.3,0
networklink
  name Area Of Interest Tools
  snippet
    :cdata
      <A HREF="http://www.data.gov.bc.ca/dbc/geographic/locate/geomark_web_srv/index.page">What is a geomark?</a>
  description
    :cdata
      <p>Create a geomark to represent your point (placemark), path, or polygon of interest.</br></br>
      
       <A HREF="http://www.data.gov.bc.ca/dbc/geographic/locate/geomark_web_srv/index.page">What is a geomark?</a></p>
                    
  open 1
  visibility 1
  link
    href http://apps.gov.bc.ca/pub/geomark/geomarks/index.kml
