doctype xml

folder
  name Mines
  visibility 0
  open 0
  groundoverlay
    name Assessment Reports (Aris) - Report By Years
    visibility 0
    open 1
    snippet
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=aris_mineral_reports&format=image/png"><br>
          
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/af68d1d1-b85e-4ea9-b5f3-e09fc83f3f4f">click here</a></p>
      lookat
        longitude -115.743353164902
        latitude 49.50998821115897
        altitude 0
        heading 0.01927763846471821
        tilt 0
        range 840.9868857461036
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=aris_mineral_reports&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 49.63595428173173
        south 49.42461161689332
        east -115.3742252177851
        west -115.8398592722157
  groundoverlay
    name Notice of Work
    visibility 0
    open 1
    snippet
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mms_notice_of_work&format=image/png"><br>
          
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/636822f1-8eaa-4a88-be69-9b9c12f80a20">click here</a></p>
      lookat
        longitude -115.743353164902
        latitude 49.50998821115897
        altitude 0
        heading 0.01927763846471821
        tilt 0
        range 840.9868857461036
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mms_notice_of_work&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 58.86122254842177
        south 52.43842893287471
        east -119.1433629816231
        west -128.5389470604042
  groundoverlay
    name Coal Tenure
    visibility 0
    open 1
    snippet
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=empr_mineral_tenure_polys_coal_o&format=image/png"><br>
          
          
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/923c5330-c798-4276-82c1-705000c5caac">click here</a></p>
      lookat
        longitude -120.7179993627585
        latitude 49.56726157853299
        altitude 0
        heading 0.9113188718068028
        tilt 0
        range 361516.969310104
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=empr_mineral_tenure_polys_coal_o&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 68.30543215843575
        south 30.56005066053451
        east -73.03685809297397
        west -175.6962622297264
  folder
    name Placer Tenures
    visibility 0
    open 1
    groundoverlay
      name Placer Claim
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_poly_placer_claim&format=image/png"><br>
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -122.0921071096601
        latitude 53.0197031076295
        altitude 0
        heading 8.337981516104678
        tilt 0
        range 2291.596895339585
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_poly_placer_claim&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 68.30543215843575
        south 30.56005066053451
        east -73.03685809297397
        west -175.6962622297264
    groundoverlay
      name Placer Claim - Labels
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_placer_claim_label&format=image/png"><br>
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -122.0921071096601
        latitude 53.0197031076295
        altitude 0
        heading 8.337981516104678
        tilt 0
        range 2291.596895339585
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_placer_claim_label&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 68.30543215843575
        south 30.56005066053451
        east -73.03685809297397
        west -175.6962622297264
    groundoverlay
      name Placer Lease
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_poly_placer_lease&format=image/png"><br>
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -122.0921071096601
        latitude 53.0197031076295
        altitude 0
        heading 8.337981516104678
        tilt 0
        range 2291.596895339585
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_poly_placer_lease&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 68.30543215843575
        south 30.56005066053451
        east -73.03685809297397
        west -175.6962622297264
    groundoverlay
      name Placer Lease - Labels
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_placer_lease_label&format=image/png"><br>
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -122.0921071096601
        latitude 53.0197031076295
        altitude 0
        heading 8.337981516104678
        tilt 0
        range 2291.596895339585
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_placer_lease_label&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 68.30543215843575
        south 30.56005066053451
        east -73.03685809297397
        west -175.6962622297264
  folder
    name Mineral Tenures
    visibility 0
    open 1
    groundoverlay
      name Mineral Claim
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_poly_mineral_claim&format=image/png"><br>
          
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -120.5996447355055
        latitude 49.44635500225515
        altitude 0
        heading 0.9113187884151416
        tilt 0
        range 90471.73054831789
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_poly_mineral_claim&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 63.18478966704303
        south 43.41378872671602
        east -100.7220940505805
        west -147.394458950201
    groundoverlay
      name Mineral Claim - Label
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_mineral_claim_label&format=image/png"><br>
          
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -120.5996447355055
        latitude 49.44635500225515
        altitude 0
        heading 0.9113187884151416
        tilt 0
        range 90471.73054831789
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_mineral_claim_label&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 68.30543215843575
        south 30.56005066053451
        east -73.03685809297397
        west -175.6962622297264
    groundoverlay
      name Mining Lease
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_poly_mineral_lease&format=image/png"><br>
          
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -120.5996447355055
        latitude 49.44635500225515
        altitude 0
        heading 0.9113187884151416
        tilt 0
        range 90471.73054831789
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_poly_mineral_lease&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 63.18478966704303
        south 43.41378872671602
        east -100.7220940505805
        west -147.394458950201
    groundoverlay
      name Mining Lease - Label
      visibility 0
      description
        :cdata
          <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=mta_acquired_tenure_mineral_lease_label&format=image/png"><br>
          
          <p>for more infomation 
           
          
           <a href="http://catalogue.data.gov.bc.ca/dataset/886835e8-3447-4bda-a2aa-7bcefde83e68">click here</a></p>
      lookat
        longitude -120.5996447355055
        latitude 49.44635500225515
        altitude 0
        heading 0.9113187884151416
        tilt 0
        range 90471.73054831789
        gx:altitudemode relativetoseafloor
      draworder 2
      icon
        href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=mta_acquired_tenure_mineral_lease_label&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
        viewrefreshmode onstop
        viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      latlonbox
        north 68.30543215843575
        south 30.56005066053451
        east -73.03685809297397
        west -175.6962622297264
  groundoverlay
    name Mineral Occurrences (minfile)
    visibility 0
    open 1
    description
      :cdata
        <img src="http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=minfil_mineral_file&format=image/png"><br>
        
        <p>for more infomation 
         
        
         <a href="http://catalogue.data.gov.bc.ca/dataset/92206d94-bc64-4111-a295-cd14eb5a501c">click here</a></p>
    lookat
      longitude -115.743353164902
      latitude 49.50998821115897
      altitude 0
      heading 0.01927763846471821
      tilt 0
      range 840.9868857461036
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/mapserver/mining-and-petroleum?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=minfil_mineral_file&amp;styles=&amp;transparent=true&amp;format=image/png&amp;
      viewrefreshmode onstop
      viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
    latlonbox
      north 58.72333863412585
      south 46.36947069017148
      east -106.4383332139974
      west -138.9397114078331
  groundoverlay
    name Mineral Reserves and Coal Land Reserves (new - added 2016/05/05)
    visibility 0
    description
      :cdata
        <img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=getlegendgraphic&layer=whse_mineral_tenure.mta_site_sp&style=mineral_reserves_and_coal_land_reserves_all_outlined&format=image/png'><br>
        <p>for more infomation <a href='http://catalogue.data.gov.bc.ca/dataset/mta-mineral-reserve-sites-business-view'>click here</a></p>
    lookat
      longitude -123.2946611504853
      latitude 49.48018166079681
      altitude 0
      heading 1.189475705228133
      tilt 0
      range 227572.4759845923
    draworder 2
    icon
      href http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=whse_mineral_tenure.mta_site_sp&amp;styles=mineral_reserves_and_coal_land_reserves_all_outlined&amp;transparent=true&amp;format=image/png&amp;
      viewrefreshmode onstop
      viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
    latlonbox
      north 60
      south 48
      east -135
      west -110
networklink
  name First Nations Consultation Areas
  snippet(maxlines='3') below an eye altitude of 300km and within bc, every time the map stops, a first nations consultation areas report will be displayed for the area of the map you are looking at.
  description
    :cdata
      <p>below an eye altitude of 300km, every time the map stops within british columbia, a first nations consultation areas report will be displayed for the current map extent.</p>
  open 0
  visibility 0
  lookat
    longitude -123.4911809050059
    latitude 51.88020751995997
    altitude 0
    heading -2.196146036000779
    tilt 0
    range 1291477.678323947
    altitudemode relativetoground
    gx:altitudemode relativetoseafloor
  link
    href http://openmaps.gov.bc.ca/mapserver/consultative-areas?service=wms&amp;version=1.1.1&amp;request=getfeatureinfo&amp;srs=epsg:4326&amp;layers=cbd_poly&amp;styles=%2c&amp;format=png&amp;transparent=true&amp;query_layers=cbd_poly&amp;info_format=kayml&amp;radius=bbox&amp;
  viewrefreshmode onstop
  viewrefreshtime 2
  viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&width=[horizpixels]&height=[vertpixels]&lookatlon=[lookatlon]&lookatlat=[lookatlat]&lookatrange=[lookatrange]&lookattilt=[lookattilt]&lookatheading=[lookatheading]
networklink(xsi:schemalocation='http://www.opengis.net/kml/2.2 ogckml22.xsd')
  name Airphotos
  description displayable, printable, low-resolution airphotos, their photo centres, and their associated flight lines
  visibility 0
  lookat
    longitude -125.790485103603
    latitude 54.53529082074053
    altitude 0
    heading -0.5347266315948855
    tilt 0
    range 1826047.023906531
    altitudemode relativetoground
    gx:altitudemode relativetoseafloor
  link
    href http://openmaps.gov.bc.ca/kml/bcgov_airphoto_viewer_wms.kml
