networklink(xsi:schemalocation='http://www.opengis.net/kml/2.2 ogckml22.xsd')
  name BCGov Orthophoto Viewer
  open 1
  visibility 0
  lookat
    longitude -125.790485103603
    latitude 54.53529082074053
    altitude 0
    heading -0.5347266315948855
    tilt 0
    range 1826047.023906531
    altitudemode relativeToGround
    gx:altitudemode relativeToSeaFloor
  refreshvisibility 1
  link
    href http://openmaps.gov.bc.ca/kml/BCGov_Ortho_Viewer.kml
