Folder
  name Quick Base
  visibility 0
  description
    :cdata
      features visible below 6 km<br> (eye altitude). grid visible at all altitudes.<p><br>
      base geographic features at 1:20 000 scale from the <b>base mapping and trim web map service</b> are combined into a single layer for optimal performance.</p>
  LookAt
    longitude -125.9074743412715
    latitude 49.20865720098801
    altitude 0
    heading 0.7437758972756339
    tilt 0
    range 4990.232305186334
    altitudeMode relativetoground
    gx:altitudeMode relativetoseafloor
  Style <ListStyle> <listItemType>radiofolder</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>2</maxSnippetLines> </ListStyle>
  Folder
    name Current View - Auto Refresh
    visibility 0
    open 1
    description
      :cdata
        refreshes current view for quicker response.<p>
        use one of these layers when you are looking for a particular feature or just roaming.
    LookAt
      longitude -125.9074743412715
      latitude 49.20865720098801
      altitude 0
      heading 0.7437758972756339
      tilt 0
      range 4990.232305186334
      altitudeMode relativetoground
      gx:altitudeMode relativetoseafloor
    Style <ListStyle> <listItemType>radiofolder</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>2</maxSnippetLines> </ListStyle>
    GroundOverlay
      name Standard
      visibility 0
      description
        :cdata
          <font size="5"><b> elevation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> transportation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&Style=default'><br><p>
          
          <font size="5"><b>water features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> grids</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&Style=default'><br><p>
      LookAt
        longitude -125.9074743412715
        latitude 49.20865720098801
        altitude 0
        heading 0.7437758972756339
        tilt 0
        range 4990.232305186334
        altitudeMode relativetoground
        gx:altitudeMode relativetoseafloor
      drawOrder 7
      Icon
        href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=nts_250k_grid,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno,bcgs_20k_grid&amp;Styles=&amp;transparent=true&amp;format=image/png&amp;
        viewRefreshMode onstop
        viewRefreshTime 2
        viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      LatLonBox
        north 49.38868423328135
        south 49.33596272855676
        east -125.2891350319707
        west -125.3974694110289
    GroundOverlay
      name With Contours
      visibility 0
      description
        :cdata
          <font size="5"><b> elevation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_lines&format=image/png&Style=default'><br><p>
          
          <font size="5"><b>transportation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> water features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> grids</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&Style=default'><br><p>
      LookAt
        longitude -125.9074743412715
        latitude 49.20865720098801
        altitude 0
        heading 0.7437758972756339
        tilt 0
        range 4990.232305186334
        altitudeMode relativetoground
        gx:altitudeMode relativetoseafloor
      drawOrder 7
      Icon
        href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=tctr_lines,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno,bcgs_20k_grid&amp;Styles=&amp;transparent=true&amp;format=image/png&amp;
        viewRefreshMode onstop
        viewRefreshTime 2
        viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      LatLonBox
        north 49.22992789025414
        south 49.18736579416739
        east -125.8576357697014
        west -125.9572717152558
  Folder
    name Current View - Manual Refresh
    visibility 0
    description
      :cdata
        to refresh this layer, right click on the layer name and select refresh.<p>
        use this layer after you've found the particular feature or area you want to tilt at.<p>
    LookAt
      longitude -125.9074743412715
      latitude 49.20865720098801
      altitude 0
      heading 0.7437758972756339
      tilt 0
      range 4990.232305186334
      altitudeMode relativetoground
      gx:altitudeMode relativetoseafloor
    Style <ListStyle> <listItemType>radiofolder</listItemType> <bgColor>00ffffff</bgColor> <maxSnippetLines>2</maxSnippetLines> </ListStyle>
    GroundOverlay
      name Standard
      visibility 0
      description
        :cdata
          <font size="5"><b> elevation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&Style=default'><br><p>
          
          <font size="5"><b>transportation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&Style=default'><br><p>
          
          <font size="5"><b>water features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> grids</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&Style=default'><br><p>
      LookAt
        longitude -125.9074743412715
        latitude 49.20865720098801
        altitude 0
        heading 0.7437758972756339
        tilt 0
        range 4990.232305186334
        altitudeMode relativetoground
        gx:altitudeMode relativetoseafloor
      drawOrder 7
      Icon
        href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=nts_250k_grid,bcgs_20k_grid,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno&amp;Styles=&amp;transparent=true&amp;format=image/png&amp;
        viewRefreshMode onstop
        viewRefreshTime 7204
        viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      LatLonBox
        north 50.85118247703325
        south 50.82401258438863
        east -120.0426409574719
        west -120.100747619174
    GroundOverlay
      name With Contours
      visibility 0
      description
        :cdata
          <font size="5"><b> elevation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_points&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=tctr_lines&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> transportation features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=dra_digital_road_atlas&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_road_unpaved&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_pedestrian&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_railroad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_air&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=trim_transportation_lines_water&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_rail&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_helipad&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_toll_gate&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=ttrn_pnt_barrier&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> water features</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_points&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=twtr_lines&format=image/png&Style=default'><br><p>
          
          <font size="5"><b> grids</b></font><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=bcgs_20k_grid&format=image/png&Style=default'><br>
          <img src='http://openmaps.gov.bc.ca/mapserver/base3?service=wms&version=1.1.1&service=wms&request=getlegendgraphic&layer=nts_250k_grid&format=image/png&Style=default'><br><p>
      LookAt
        longitude -125.9074743412715
        latitude 49.20865720098801
        altitude 0
        heading 0.7437758972756339
        tilt 0
        range 4990.232305186334
        altitudeMode relativetoground
        gx:altitudeMode relativetoseafloor
      drawOrder 7
      Icon
        href http://openmaps.gov.bc.ca/mapserver/base3?service=wms&amp;version=1.1.1&amp;request=getmap&amp;srs=epsg:4326&amp;layers=nts_250k_grid,tctr_lines,twtr_lines,trim_transportation_lines_railroad,trim_transportation_lines_air,trim_transportation_lines_water,trim_transportation_lines_road_unpaved,dra_digital_road_atlas,trim_transportation_lines_pedestrian,twtr_points,ttrn_pnt_rail,ttrn_pnt_helipad,ttrn_pnt_toll_gate,ttrn_pnt_barrier,tctr_points,ttxt_anno,bcgs_20k_grid&amp;Styles=&amp;transparent=true&amp;format=image/png&amp;
        viewRefreshMode onstop
        viewRefreshTime 7204
        viewFormat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
      LatLonBox
        north 49.38718101150109
        south 49.35038956044557
        east -126.2361995726012
        west -126.2987276104751
