folder
  name Site Addresses
  open 0
  snippet(maxlines='1') uses the bc physical address geocoder
  description
    :cdata
      civic and non-civic addresses of 
       
      <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#site">sites</a> in bc
      <br><br>every site has an 
      <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#accesspoint">access point</a>, 
      and a 
      <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#routingpoint">routing point</a> and may also have a         
                    
      <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#parcelpoint">parcel point</a>,
              
      <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#rooftoppoint"> roof top point</a>, or
      
      <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#frontdoorpoint"> front door point</a>
      <br><br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_high.png" height=36 width=36> access point - high accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_medium.png" height="36" width="36"> access point - medium accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_low.png" height="36" width="36"> access point - low accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/frontdoorpoint_high.png" height="36" width="36"> front door point - high accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_high.png" height="36" width="36"> parcel point - high accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_medium.png" height="36" width="36"> parcel point - medium accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/rooftoppoint_high.png" height="36" width="36"> rooftop point - high accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_high.png" height="36" width="36"> routing point - high accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_medium.png" height="36" width="36"> routing point - medium accuracy<br>
      <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_low.png" height="36" width="36"> routing point - low accuracy<br>
                  
      <br> <i><b>positional accuracy terms </i></b><br>
      <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
      <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
      <i><b>low - </i></b>interpolated along a block face address range<br>
      <i><b>coarse - </i></b>point represents an entire street, locality, or the province<br>
      <br> credit for frontdoor, intersection and routing icons:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
              
  style <liststyle> <listitemtype>radiofolder</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>2</maxsnippetlines> </liststyle>
  networklink
    name Any Points
    open 0
    visibility 0
    description
      :cdata
        visible below 500m eye altitude <br><br>display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#parcelpoint">parcel points</a>,
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#rooftoppoint"> roof top points</a>, or
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#frontdoorpoint"> front door points</a> of site addresses if known, otherwise display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#accesspoint">access points</a>
                    
        <br><br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_high.png" height=36 width=36> access point - high accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_medium.png" height="36" width="36"> access point - medium accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_low.png" height="36" width="36"> access point - low accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/frontdoorpoint_high.png" height="36" width="36"> front door point - high accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_high.png" height="36" width="36"> parcel point - high accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/parcelpoint_medium.png" height="36" width="36"> parcel point - medium accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/rooftoppoint_high.png" height="36" width="36"> rooftop point - high accuracy<br>
                    
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
        <i><b>low - </i></b>interpolated along a block face address range<br>
        <br> credit for frontdoor icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
              
    style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
    link
      href http://apps.gov.bc.ca/pub/geocoder/sites/within.kml?
    viewrefreshmode onstop
    viewrefreshtime 1
    viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
  networklink
    name Access Points
    visibility 0
    open 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
        
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#accesspoint">access points</a> of site addresses
                    
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_high.png" height=36 width=36> access point - high accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_medium.png" height="36" width="36"> access point - medium accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/accesspoint_low.png" height="36" width="36"> access point - low accuracy<br>
                    
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
        <i><b>low - </i></b>interpolated along a block face address range<br>
              
    style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
    link
      href http://apps.gov.bc.ca/pub/geocoder/sites/within.kml?locationdescriptor=accesspoint&amp;
    viewrefreshmode onstop
    viewrefreshtime 1
    viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;amp;width=[horizpixels]&amp;amp;height=[vertpixels]
  networklink
    name Routing Points
    visibility 0
    open 0
    description
      :cdata
        visible below 500m eye altitude <br><br>
        display 
         
        <a href="http://www.data.gov.bc.ca/dbc/geographic/locate/physical_address_geo/glossary_of_terms.page?wt.svl=leftnav#routingpoint">routing points</a> of site addresses
                   
        <br><br><img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_high.png" height=36 width=36> routing point - high accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_medium.png" height="36" width="36"> routing point - medium accuracy<br>
        <img src="http://openmaps.gov.bc.ca/kml/icons/geocoder/routingpoint_low.png" height="36" width="36"> routing point - low accuracy<br>
                    
        <br> <i><b>positional accuracy terms </i></b><br>
        <i><b>high - </i></b>observed or measured using gps or survey instruments, or digitized off imagery with a resolution of 1m or better<br>
        <i><b>medium - </i></b>derived from parcel boundaries or from a point known to be inside a parcel<br>
        <i><b>low - </i></b>interpolated along a block face address range<br>
        <br> credit for routing icon:<br> <b> maps icons collection </b> http://mapicons.nicolasmollet.com
             
    style <liststyle> <listitemtype>check</listitemtype> <bgcolor>00ffffff</bgcolor> <maxsnippetlines>1</maxsnippetlines> </liststyle>
    link
      href http://apps.gov.bc.ca/pub/geocoder/sites/within.kml?locationdescriptor=routingpoint&amp;
    viewrefreshmode onstop
    viewrefreshtime 1
    viewformat bbox=[bboxwest],[bboxsouth],[bboxeast],[bboxnorth]&amp;width=[horizpixels]&amp;height=[vertpixels]
