doctype xml

styleurl #default
style#legend_wild_areas <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_wild_areas.png</href> </ItemIcon> </ListStyle>
style#legend_cons_areas <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_cons_areas.png</href> </ItemIcon> </ListStyle>
style#sh_ranger_station <IconStyle> <scale>1.2</scale> <Icon> <href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href> </Icon> <hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/> </IconStyle>

style#fcbcHelpBalloonStyle <IconStyle> <color>00ffffff</color> <scale>0.8</scale> <Icon> <href>http://maps.google.com/mapfiles/kml/shapes/info.png</href> </Icon> </IconStyle> <LabelStyle> <color>00ffffff</color> <scale>0.8</scale> </LabelStyle> <BalloonStyle> <text><![CDATA[<b><font color="#000033" size="+3">Getting Help for the<br>FrontCounter BC Discovery Tool</font></b> <br/><hr/><br/><br/> <font face="Arial">$[description]</font> <br/><br/><hr/><br/> <center><font color="#cccccc" size="-1"></font><center>--></text> </BalloonStyle]]>

style#legend_land_own_group <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_land_own_group.png</href> </ItemIcon> </ListStyle>
style#sn_ylw-pushpin710 <IconStyle> <scale>1.1</scale> <Icon> <href>http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png</href> </Icon> <hotSpot x="20" y="2" xunits="pixels" yunits="pixels"/> </IconStyle> <LineStyle> <color>ff00ffff</color> <width>3</width> </LineStyle> <PolyStyle> <color>7d0000ff</color> </PolyStyle>
stylemap#msn_ranger_station111
  pair
    key normal
    styleurl #sn_ranger_station600
  pair
    key highlight
    styleurl #sh_ranger_station01010
stylemap#msn_ranger_station
  pair
    key normal
    styleurl #sn_ranger_station0
  pair
    key highlight
    styleurl #sh_ranger_station
style#legend_priv_ownership <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_priv_ownership.png</href> </ItemIcon> </ListStyle>
style#legend_crown_lease_appl <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_lease_appl.png</href> </ItemIcon> </ListStyle>
style#sn_ranger_station <IconStyle> <Icon> <href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href> </Icon> <hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/> </IconStyle>
style#legend_national_s <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_national_parks.png</href> </ItemIcon> </ListStyle>
style#sh_ylw-pushpin800 <IconStyle> <scale>1.3</scale> <Icon> <href>http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png</href> </Icon> <hotSpot x="20" y="2" xunits="pixels" yunits="pixels"/> </IconStyle> <LineStyle> <color>ff00ffff</color> <width>3</width> </LineStyle> <PolyStyle> <color>7d0000ff</color> </PolyStyle>
style#legend_protected_areas <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_protected_areas.png</href> </ItemIcon> </ListStyle>
style#legend_crown_lease_tenures <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_lease_tenures.png</href> </ItemIcon> </ListStyle>
style#legend_indian_reserves <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_indian_reserves.png</href> </ItemIcon> </ListStyle>
style#legend_prov_parks <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_prov_parks.png</href> </ItemIcon> </ListStyle>
style#legend_rec_areas <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_rec_areas.png</href> </ItemIcon> </ListStyle>
style#legend_eco_reserves <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_eco_reserves.png</href> </ItemIcon> </ListStyle>
style#sn_ranger_station0 <IconStyle> <Icon> <href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href> </Icon> <hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/> </IconStyle>
style#sh_ranger_station0 <IconStyle> <scale>1.2</scale> <Icon> <href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href> </Icon> <hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/> </IconStyle>
style#instructionsStyle <IconStyle> <Icon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend.png</href> </Icon> </IconStyle> <BalloonStyle> <text><![CDATA[<center><b><font color="#000033" size="+3">Instructions</font></b></center> <br/><hr/><br/> <font face="Arial">$[description]</font> --></text> </BalloonStyle>]]>
style#noDirections <BalloonStyle> <text><![CDATA[$[description]--></text> </BalloonStyle>]]>
style#legend_crown_ownership <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_ownership.png</href> </ItemIcon> </ListStyle>
style#legend_crown_fed_ownership <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_fed_ownership.png</href> </ItemIcon> </ListStyle>
style#legend_crown_muni_ownership <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_muni_ownership.png</href> </ItemIcon> </ListStyle>
style#legend_unknown_ownership <ListStyle> <ItemIcon> <href>http://openmaps.gov.bc.ca/kml/Icons/legend_unknown_ownership.png</href> </ItemIcon> </ListStyle>
style#fcbcBalloonStyle <IconStyle> <color>00ffffff</color> <scale>0.8</scale> <Icon> <href>http://maps.google.com/mapfiles/kml/shapes/info.png</href> </Icon> </IconStyle> <LabelStyle> <color>00ffffff</color> <scale>0.8</scale> </LabelStyle> <BalloonStyle> <text><![CDATA[<b><font color="#000033" size="+3">$[name]</font></b> <br/><hr/><br/><br/> <font face="Arial">$[description]</font> <br/><br/><hr/><br/> <center><font color="#cccccc" size="-1"></font><center>--></text> </BalloonStyle>]]>

