kml(xmlns="http://www.opengis.net/kml/2.2", xmlns:gx="http://www.google.com/kml/ext/2.2", xmlns:kml="http://www.opengis.net/kml/2.2", xmlns:atom="http://www.w3.org/2005/Atom", xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance", xsi:schemalocation="http://www.opengis.net/kml/2.2 ogckml22.xsd")
	document
		name FrontCounter BC Discovery Tool
		open 1
		lookat
			longitude -125.790485103603
			latitude 54.53529082074053
			altitude 0
			heading -0.5347266315948855
			tilt 0
			range 1826047.023906531
			altitudemode relativeToGround
			gx:altitudemode relativeToSeaFloor
		styleurl #default
		style#legend_wild_areas.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_wild_areas.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_cons_areas.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_cons_areas.png</href>
			</ItemIcon>
			</ListStyle>
		style#sh_ranger_station.
			<IconStyle>
			<scale>1.2</scale>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href>
			</Icon>
			<hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/>
			</IconStyle>
		style#fcbcHelpBalloonStyle.
			<IconStyle>
			<color>00ffffff</color>
			<scale>0.8</scale>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/shapes/info.png</href>
			</Icon>
			</IconStyle>
			<LabelStyle>
			<color>00ffffff</color>
			<scale>0.8</scale>
			</LabelStyle>
			<BalloonStyle>
			<text><![CDATA[<b><font color="#000033" size="+3">Getting Help for the<br>FrontCounter BC Discovery Tool</font></b>
			<br/><hr/><br/><br/>
			<font face="Arial">$[description]</font>
			<br/><br/><hr/><br/>
			<center><font color="#cccccc" size="-1"></font><center>]]></text>
			</BalloonStyle>
		style#legend_land_own_group.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_land_own_group.png</href>
			</ItemIcon>
			</ListStyle>
		style#sn_ylw-pushpin710.
			<IconStyle>
			<scale>1.1</scale>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png</href>
			</Icon>
			<hotSpot x="20" y="2" xunits="pixels" yunits="pixels"/>
			</IconStyle>
			<LineStyle>
			<color>ff00ffff</color>
			<width>3</width>
			</LineStyle>
			<PolyStyle>
			<color>7d0000ff</color>
			</PolyStyle>
		stylemap#msn_ranger_station111
			pair
				key normal
				styleurl #sn_ranger_station600
			pair
				key highlight
				styleurl #sh_ranger_station01010
		stylemap#msn_ranger_station
			pair
				key normal
				styleurl #sn_ranger_station0
			pair
				key highlight
				styleurl #sh_ranger_station
		style#legend_priv_ownership.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_priv_ownership.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_crown_lease_appl.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_lease_appl.png</href>
			</ItemIcon>
			</ListStyle>
		style#sn_ranger_station.
			<IconStyle>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href>
			</Icon>
			<hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/>
			</IconStyle>
		style#legend_national_s.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_national_parks.png</href>
			</ItemIcon>
			</ListStyle>
		style#sh_ylw-pushpin800.
			<IconStyle>
			<scale>1.3</scale>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png</href>
			</Icon>
			<hotSpot x="20" y="2" xunits="pixels" yunits="pixels"/>
			</IconStyle>
			<LineStyle>
			<color>ff00ffff</color>
			<width>3</width>
			</LineStyle>
			<PolyStyle>
			<color>7d0000ff</color>
			</PolyStyle>
		style#legend_protected_areas.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_protected_areas.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_crown_lease_tenures.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_lease_tenures.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_indian_reserves.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_indian_reserves.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_prov_parks.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_prov_parks.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_rec_areas.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_rec_areas.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_eco_reserves.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_eco_reserves.png</href>
			</ItemIcon>
			</ListStyle>
		style#sn_ranger_station0.
			<IconStyle>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href>
			</Icon>
			<hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/>
			</IconStyle>
		style#sh_ranger_station0.
			<IconStyle>
			<scale>1.2</scale>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/shapes/ranger_station.png</href>
			</Icon>
			<hotSpot x="0.5" y="0" xunits="fraction" yunits="fraction"/>
			</IconStyle>
		style#instructionsStyle.
			<IconStyle>
			<Icon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend.png</href>
			</Icon>
			</IconStyle>
			<BalloonStyle>
			<text><![CDATA[<center><b><font color="#000033" size="+3">Instructions</font></b></center>
			<br/><hr/><br/>
			<font face="Arial">$[description]</font>
			]]></text>
			</BalloonStyle>
		style#noDirections.
			<BalloonStyle>
			<text><![CDATA[$[description]]]></text>
			</BalloonStyle>
		style#legend_crown_ownership.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_ownership.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_crown_fed_ownership.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_fed_ownership.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_crown_muni_ownership.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_crown_muni_ownership.png</href>
			</ItemIcon>
			</ListStyle>
		style#legend_unknown_ownership.
			<ListStyle>
			<ItemIcon>
			<href>http://openmaps.gov.bc.ca/kml/Icons/legend_unknown_ownership.png</href>
			</ItemIcon>
			</ListStyle>
		style#fcbcBalloonStyle.
			<IconStyle>
			<color>00ffffff</color>
			<scale>0.8</scale>
			<Icon>
			<href>http://maps.google.com/mapfiles/kml/shapes/info.png</href>
			</Icon>
			</IconStyle>
			<LabelStyle>
			<color>00ffffff</color>
			<scale>0.8</scale>
			</LabelStyle>
			<BalloonStyle>
			<text><![CDATA[<b><font color="#000033" size="+3">$[name]</font></b>
			<br/><hr/><br/><br/>
			<font face="Arial">$[description]</font>
			<br/><br/><hr/><br/>
			<center><font color="#cccccc" size="-1"></font><center>]]></text>
			</BalloonStyle>
		screenoverlay
			name Instructions
			visibility 0
			snippet(maxlines="4")
				// [CDATA[To print these instructions, click the Instructions layer name in blue above then use File.Print<br/><font color="#000033" size="-1">-- Last Updated 2014/05/22 --</font>]]
			description
				//
					[CDATA[To use the FrontCounter BC Discovery Tool, you need to be familiar with Google Earth and its
					<A HREF="http://www.google.com/earth/learn/">tutorials</a>, particularly the
					<A HREF="http://www.google.com/earth/learn/beginner.html#tab=navigation">navigation tutorial</a>.
					<p>The FrontCounter BC Discovery Tool is designed to help you view an area of land within the Province of British Columbia to determine basic information on how the land is currently being used. The information can be used to assist you in choosing an appropriate application area for your needs.</p>
					<p>For example, privately held lands, Provincial Parks, National Parks or First Nations Reserves are some of the highly constrained lands in their potential for Crown authorizations and will require you to contact
					<A HREF="http://www.frontcounterbc.gov.bc.ca/contact">FrontCounter BC</a> to determine whether your proposed activity is permissible. Avoiding highly constrained lands when seeking potential candidate areas for your proposed application may improve your likelihood of success.</p>
					<p>You can use this tool in a variety of ways:</p>
					1. To discover general land use: a colour legend will appear when you click on each layer name;<br/>
					2. To create your Area of Interest (as a placemark, path or polygon) in the correct location you are interested in;<br/>
					3. To look at your Area of Interest in relation to other land interests to see if it is available and compatible, and;<br/>
					4. To create an electronic file of your Area of Interest that can be submitted with your electronic application.<br/>
					<p>The basic steps to create a geomark from an Area of Interest are:</p>
					<b>Step 1:</b> Use Google Earth's navigation controls to zoom to the area you are interested in.<br/><br/>
					<b>Step 2:</b> Use Google Earth's <i>Add Placemark, Add Polygon or Add Path</i> tool to draw your Area of Interest on the map.<br/><br/>
					<b>Step 3:</b> Click on the Create Geomark layer and follow the instructions to create a Geomark from your Area of Interest. Your new geomark will be displayed as a hyperlink (URL).<br/><br/>
					<b>Step 4:</b> Save your geomark URL as a bookmark in your web browser.<br/><br/>
					You can use your geomark in a couple of different ways:<br/><br/>
					1.	You can email it to
					<A HREF="mailto:FrontCounterBC@gov.bc.ca">FrontCounterBC@gov.bc.ca</a> with an explanation of your land use requirements prior to submission of your application to ensure that other interests do not exist that may conflict with your application.<br/><br/>
					2.	You can submit it with an electronic application through
					<A HREF="http://www.frontcounterbc.gov.bc.ca/virtual/">virtual FrontCounter BC</a>
					<p>See the
					<A HREF="http://www.frontcounterbc.gov.bc.ca/mapping/tutorial/tutorial_01.html">tutorial</a> for more detailed instructions.</p>
					<p><b>DISCLAIMER:  This tool does not show all interests, you should contact
					<A HREF="http://www.frontcounterbc.gov.bc.ca/contact">FrontCounter BC</a> to see if other interests exist that may conflict with your application before submitting it.  Your saved geomark can be emailed to
					<A HREF="mailto:FrontCounterBC@gov.bc.ca">FrontCounterBC@gov.bc.ca</a> prior to submission for this purpose.</b></p>
					]]
			styleurl #instructionsStyle
			gx:balloonvisibility 1
			draworder 99
			overlayxy(x="0", y="1", xunits="fraction", yunits="fraction")
				screenxy(x="5", y="5", xunits="pixels", yunits="insetPixels")
					rotationxy(x="0.5", y="0.5", xunits="fraction", yunits="fraction")
						size(x="-1", y="-1", xunits="pixels", yunits="pixels")
		folder
			name Legend
			visibility 0
			snippet(maxlines="4")
				| Each layer has its own legend which will be displayed when you click on the blue, underlined layer name. To print a legend once it is displayed, use File.Print
			description
				| Each layer has its own legend which will be displayed when you click on the blue underlined layer name. To print a legend once it is displayed, use File.Print
		placemark
			name Help
			visibility 0
			snippet(maxlines="1") -
			description
				//
					[CDATA[<table cellpadding="0" cellspacing="0" border="0" width="400"><tr><td>
					<p>If you have questions about the FrontCounter BC Discovery Tool, you can find the answers or get help using one of the following:</p>
					<ol>
					<li>Call Toll Free 1-877-855-3222 to speak to a FrontCounter BC representative.  You can also send your question in an email to frontcounterbc@gov.bc.ca.</li>
					<li>Review the
					<A HREF="http://www.frontcounterbc.gov.bc.ca/mapping/faq.html">Frequently Asked Questions</a>.</li>
					<li>Review the
					<A HREF="http://www.frontcounterbc.gov.bc.ca/mapping/tutorial/tutorial_01.html">tutorial</a> for information about how to use the tool.</li>
					</td></tr></table>]]
			styleurl #fcbcHelpBalloonStyle
			point
				coordinates -115.7,50.3,0
		networklink
			name Area Of Interest Tools
			snippet
				//
					[CDATA[
					<A HREF="http://www.data.gov.bc.ca/dbc/geographic/locate/geomark_web_srv/index.page">What is a geomark?</a>]]
			description
				//
					[CDATA[<p>Create a geomark to represent your point (placemark), path, or polygon of interest.</br></br>
					<A HREF="http://www.data.gov.bc.ca/dbc/geographic/locate/geomark_web_srv/index.page">What is a geomark?</a></p>
					]]
			open 1
			visibility 1
			link
			href http://apps.gov.bc.ca/pub/geomark/geomarks/index.kml
		folder
			name Land interests
			open 1
			groundoverlay
				name Indian Reserves
				snippet
					snippet(maxlines="0")
						description
							//
								[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=CLAB_INDIAN_RESERVES_C&format=image/png"><br><br>
								<P>For more information click
								<A HREF="http://catalogue.data.gov.bc.ca/dataset/8efe9193-80d2-4fdf-a18c-d531a94196ad">here</A></BR>]]
						lookat
							longitude -122.3407446429645
							latitude 51.78026000156275
							altitude 0
							heading -5.028838681109901
							tilt 0
							range 175203.7784054478
						styleurl #legend_indian_reserves
						draworder 2
						icon
							href
								| http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=CLAB_INDIAN_RESERVES_C&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
							viewrefreshmode onStop
							viewrefreshtime 2
							viewformat
								| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
						latlonbox
							north 62.24803399817494
							south 44.74846842243939
							east -101.3348746903971
							west -150.3835582055927
			groundoverlay
				name Indian Reserves - ColourGeoserver
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_ADMIN_BOUNDARIES.CLAB_INDIAN_RESERVES&style=Indian_Reserves_Colour_Filled&format=image%2Fpng&width=20&height=20'><br>
							<P>For more infomation
							<A HREF='http://catalogue.data.gov.bc.ca/dataset/8efe9193-80d2-4fdf-a18c-d531a94196ad'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=WHSE_ADMIN_BOUNDARIES.CLAB_INDIAN_RESERVES&STYLES=Indian_Reserves_Colour_Filled&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60.23190697563938
						south 46.64549956999812
						east -103.6731450696872
						west -144.5798910123641
			groundoverlay
				name National Parks
				snippet(maxlines="0")
					description
						//
							[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=CLAB_NATIONAL_PARKS_C&format=image/png"><br><br>
							For more information click
							<A HREF="http://catalogue.data.gov.bc.ca/dataset/88e61a14-19a0-46ab-bdae-f68401d3d0fb">here</A></P>]]
					lookat
						longitude -124.9089567690733
						latitude 54.53501315545629
						altitude 0
						heading -7.011245191654538
						tilt 0
						range 1190040.072978311
					styleurl #legend_national_parks
					draworder 2
					| /india
					icon
						href
							| http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=CLAB_NATIONAL_PARKS_C&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewrefreshtime 2
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 62.24803399817494
						south 44.74846842243939
						east -101.3348746903971
						west -150.3835582055927
			groundoverlay
				name National Parks - Colour Geoserver
				visibility 0
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=pub:WHSE_ADMIN_BOUNDARIES.CLAB_NATIONAL_PARKS&style=NationalParks&format=image/png'><br>
							<P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/88e61a14-19a0-46ab-bdae-f68401d3d0fb'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=pub:WHSE_ADMIN_BOUNDARIES.CLAB_NATIONAL_PARKS&STYLES=NationalParks&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60
						south 48
						east -135
						west -110
			groundoverlay
				name Provincial Parks
				snippet
					snippet(maxlines="0")
						description
							//
								[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_C&format=image/png"><br><br>
								For more information  <A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A></P>]]
						lookat
							longitude -115.743353164902
							latitude 49.50998821115897
							altitude 0
							heading 0.01927763846471821
							tilt 0
							range 840.9868857461036
						styleurl #legend_prov_parks
						draworder 2
						icon
							href
								| http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=TA_PARK_ECORES_PA_C&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
							viewrefreshmode onStop
							viewrefreshtime 3
							viewformat
								| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
						latlonbox
							north 62.24803399817494
							south 44.74846842243939
							east -101.3348746903971
							west -150.3835582055927
			groundoverlay
				name Provincial Parks - Tantalis -Geoserver
				visibility 0
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Provincial_Parks_Tantalis_Colour_Filled&format=image/png'><br>
							<P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/bc-parks-ecological-reserves-and-protected-areas'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&STYLES=Provincial_Parks_Tantalis_Colour_Filled&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60
						south 48
						east -135
						west -110
			groundoverlay
				name Ecological Reserves
				snippet
					snippet(maxlines="0")
						description
							//
								[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_ECO_C&format=image/png"><br><br>
								For more information
								<A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A>]]
						lookat
							longitude -123.2801551138936
							latitude 48.45870318920701
							altitude 0
							heading 1.111636832364537
							tilt 0
							range 18302.8857930372
							altitudemode relativeToGround
						styleurl #legend_eco_reserves
						draworder 2
						icon
							href
								| http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=TA_PARK_ECORES_PA_ECO_C&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
							viewrefreshmode onStop
							viewrefreshtime 3
							viewformat
								| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
						latlonbox
							north 62.24803399817494
							south 44.74846842243939
							east -101.3348746903971
							west -150.3835582055927
			groundoverlay
				name Ecological Reserves - Tantalis - Geoserver
				visibility 0
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Ecological_Reserves_Tantalis_Colour_Filled&format=image/png'><br>
							<P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/bc-parks-ecological-reserves-and-protected-areas'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&STYLES=Ecological_Reserves_Tantalis_Colour_Filled&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60
						south 48
						east -135
						west -110
			groundoverlay
				name Protected Areas
				snippet
					snippet(maxlines="0")
						description
							//
								[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_PROTECTED_C&format=image/png"><br><br>
								For more information
								<A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A></P>]]
						lookat
							longitude -115.743353164902
							latitude 49.50998821115897
							altitude 0
							heading 0.01927763846471821
							tilt 0
							range 840.9868857461036
						styleurl #legend_protected_areas
						draworder 2
						icon
							href
								| http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=TA_PARK_ECORES_PA_PROTECTED_C&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
							viewrefreshmode onStop
							viewrefreshtime 3
							viewformat
								| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
						latlonbox
							north 62.24803399817494
							south 44.74846842243939
							east -101.3348746903971
							west -150.3835582055927
			groundoverlay
				name Protected Areas - Tantalis - Colour Geoserver
				visibility 0
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Protected_Areas_Tantalis_Colour_Filled&format=image/png'><br>
							<P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&STYLES=Protected_Areas_Tantalis_Colour_Filled&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60
						south 48
						east -135
						west -110
			groundoverlay
				name Conservancy Areas
				snippet
					snippet(maxlines="0")
						description
							//
								[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_CONSERVANCY_AREAS_C&format=image/png"><br><br>
								For more information
								<A HREF="http://catalogue.data.gov.bc.ca/dataset/550b3133-2004-468f-ba1f-b95d0e281e78">click here</A></P>]]
						lookat
							longitude -115.743353164902
							latitude 49.50998821115897
							altitude 0
							heading 0.01927763846471821
							tilt 0
							range 840.9868857461036
						styleurl #legend_cons_areas
						draworder 2
						icon
							href
								| http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=TA_CONSERVANCY_AREAS_C&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
							viewrefreshmode onStop
							viewrefreshtime 2
							viewformat
								| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
						latlonbox
							north 62.24803399817494
							south 44.74846842243939
							east -101.3348746903971
							west -150.3835582055927
			groundoverlay
				name Conservancy Areas - Tantalis - Geoserver
				visibility 0
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_CONSERVANCY_AREAS_SVW&style=Conservancy_Areas_Tantalis_Colour_Filled&format=image/png'><br>
							<P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/tantalis-conservancy-areas'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=WHSE_TANTALIS.TA_CONSERVANCY_AREAS_SVW&STYLES=Conservancy_Areas_Tantalis_Colour_Filled&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60
						south 48
						east -135
						west -110
			groundoverlay
				name Recreation Areas
				snippet
					snippet(maxlines="0")
						description
							//
								[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=TA_PARK_ECORES_PA_RECREATION_C&format=image/png"><br><br>
								For more information
								<A HREF="http://catalogue.data.gov.bc.ca/dataset/1130248f-f1a3-4956-8b2e-38d29d3e4af7">click here</A></P>]]
						lookat
							longitude -120.7541207199092
							latitude 49.36663633212387
							altitude 0
							heading 8.884351497901607
							tilt 0.6844812415854688
							range 53164.3652662764
							altitudemode relativeToGround
						styleurl #legend_rec_areas
						draworder 2
						icon
							href
								| http://openmaps.gov.bc.ca/mapserver/parks-and-recreation?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=TA_PARK_ECORES_PA_RECREATION_C&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
							viewrefreshmode onStop
							viewrefreshtime 5
							viewformat
								| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
						latlonbox
							north 62.24803399817494
							south 44.74846842243939
							east -101.3348746903971
							west -150.3835582055927
			groundoverlay
				name Recreation Areas - Tantalis - Geoserver
				visibility 0
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&style=Recreation_Areas_Tantalis_Colour_Filled&format=image/png'><br>
							<P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/bc-parks-ecological-reserves-and-protected-areas'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=WHSE_TANTALIS.TA_PARK_ECORES_PA_SVW&STYLES=Recreation_Areas_Tantalis_Colour_Filled&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60
						south 48
						east -135
						west -110
			groundoverlay
				name Conservation Lands
				snippet
					snippet(maxlines="0")
						description
							//
								[CDATA[<img src="http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&version=1.1.1&service=WMS&request=GetLegendGraphic&layer=CNSRVTN_LNDS&format=image/png"><br>
								For more information
								<A HREF="http://catalogue.data.gov.bc.ca/dataset/68327529-c0d5-4fcb-b84e-f8d98a7f8612">click here</A></P>]]
						lookat
							longitude -122.7200650286509
							latitude 49.20060352851539
							altitude 0
							heading 0.1216022086330478
							tilt 0
							range 150765.8519796508
							altitudemode relativeToGround
						styleurl #legend_wild_areas
						draworder 2
						icon
							href
								| http://openmaps.gov.bc.ca/mapserver/admin-boundaries?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=CNSRVTN_LNDS&STYLES=&TRANSPARENT=TRUE&FORMAT=image/png&
							viewrefreshmode onStop
							viewrefreshtime 5
							viewformat
								| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
						latlonbox
							north 62.24803399817494
							south 44.74846842243939
							east -101.3348746903971
							west -150.3835582055927
			groundoverlay
				name Conservation Lands - Geoserver
				visibility 0
				snippet
					description
						//
							[CDATA[<img src='http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&version=1.1.1&request=GetLegendGraphic&layer=WHSE_LEGAL_ADMIN_BOUNDARIES.WCL_CONSERVATION_LANDS_SP&style=Conservation_Lands&format=image/png'><br>
							<P>For more infomation <A HREF='http://catalogue.data.gov.bc.ca/dataset/68327529-c0d5-4fcb-b84e-f8d98a7f8612'>click here</A></P>]]
					lookat
						longitude -123.2946611504853
						latitude 49.48018166079681
						altitude 0
						heading 1.189475705228133
						tilt 0
						range 227572.4759845923
					color b0ffffff
					draworder 2
					icon
						href
							| http://openmaps.gov.bc.ca/geo/pub/wms?service=wms&VERSION=1.1.1&REQUEST=GetMap&SRS=EPSG:4326&LAYERS=WHSE_LEGAL_ADMIN_BOUNDARIES.WCL_CONSERVATION_LANDS_SP&STYLES=Conservation_Lands_Type&TRANSPARENT=TRUE&FORMAT=image/png&
						viewrefreshmode onStop
						viewformat
							| BBOX=[bboxWest],[bboxSouth],[bboxEast],[bboxNorth]&WIDTH=[horizPixels]&HEIGHT=[vertPixels]
					latlonbox
						north 60
						south 48
						east -135
						west -110

